:root {
    --bg: #EAF4F4;
    --overlay: #CBF6F6;
    --dark-overlay: #A4C3B2;
    --accent: #DCBCBC;
    --dark: #1C1D21;
}

* {
    margin: 0;
    box-sizing: border-box;
    color: var(--dark);
    font-family: "Poppins";
}

h2 {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
}

html {
    background-color: var(--bg);
}

.cart-page {
    background-color: var(--bg);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.button, .sec-button {
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid var(--dark);
}

.button {
    background-color: var(--accent);
    cursor: pointer;
    transition: transform 400ms;
}

.sec-button {
    background-color: transparent;
    cursor: pointer;
    transition: transform 400ms;
}

.button:hover, .sec-button:hover {
    transform: scale(1.1);
    transition: transform 400ms;
}

/* HEADER COMPONENT */
header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    z-index: 100;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    background-color: var(--dark-overlay);
    height: 70px;
    border-radius: 10px;
    padding: 0px 25px;
}

.header-title h1 {
    font-family: "Mochiy Pop One" !important;
}

.header-searchbar {
    position: relative;
    flex: 0.5 0.8 300px;
}

.search-bar {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    border: 0;
    text-align: center;
    background-color: rgb(255, 255, 250);
    margin-left: 20px;
}

.search-btn {
    position: absolute;
    right: 0;
    bottom: -3px;
    height: 40px;
    background-color: transparent;
    border: none;
}

.search-btn img {
    height: 18px;
}

.header-nav {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.cart-container {
    position: relative;
    margin-top: 8px;
}

.cart-amount {
    position: absolute;
    top: -10px;
    right: -5px;
    background-color: var(--accent);
    padding: 0px 5px;
    border-radius: 100%;
    border: 1px solid black;

}

.cart-button {
    height: 28px;
}
/* HEADER COMPONENT */

/* HERO SECTTION */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8dvh;
    z-index: 10;
    position: relative;
}

.hero-image {
    width: 45vw;
}

.hero-offer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.hero-discount {
    font-size: clamp(2rem, 5vw, 4.5rem);
    font-weight: bold;
}

.hero-info {
    font-size: 1.2rem;
    width: clamp(300px, 80%, 65ch);
    text-align: center;
}

.hero-btn-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
/* HERO SECTTION */

/* BEST SELLER SECTTION */
.sellers-bg {
    width: 100%;
    margin-top: -50vh;
    margin-bottom: -10px;

}

.best-seller {
    background-color: var(--overlay);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10dvh;
}

.best-seller h2 {
    margin-bottom: 20px;
}

.best-seller-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.408);
}

.product-thumb {
    height: 256px;
}

.item-content {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--dark-overlay);
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.item-name { 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    font-weight: 600;
}

.add-item-button {
    position: absolute;
    border-radius: 100%;
    font-size: 1.2rem;
    padding: 3px 10px;
    right: 10px;
    top: 15px;
    cursor: pointer;
}
/* BEST SELLER  SECTTION */

/* FEATURES SECTTION */
.features {
    display: flex;
    background-color: var(--dark);
    justify-content: space-evenly;
    padding: 50px 0;
}

.feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.feature-heading {
    color: var(--bg);
    font-size: 2rem;
    font-weight: bold;
}

.feature-body {
    color: var(--bg);
    max-width: 250px;
}
/* FEATURES SECTTION */

/* CONTACT SECTTION */
.contact {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
    position: relative;
    
}

.contact-left, .contact-right form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}



.contact-right form {
    gap: 20px;
}

.input-contact {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-contact button {
    width: fit-content;
}

.contact-input {
    width: clamp(200px, 200px, 400pxs);
    padding: 5px;
}

.input-message {
    padding: 5px;
}

.bg-split {
    height: 53%;
    width: 100%;
    background-color: var(--overlay);
    position: absolute;
    bottom: 0;
    z-index: -1;
}
/* CONTACT SECTTION */

/* FOOTER SECTTION */
footer {
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    background-color: var(--dark-overlay);
    position: relative;
    padding-bottom: 30px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 15px 0;
}

.footer-title, .footer-nav, .footer-contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footer-title {
    width: 70%;
    align-items: center;
}

.footer-nav {
    flex-direction: row;
    justify-content: space-evenly;
    border-left:  2px solid black;
    border-right:  2px solid black;
}

.menu-footer {
    display: flex;
    flex-direction: column;
    
}

.menu-footer a {
    text-decoration: none;
}

.footer-contact {
    padding: 0 50px;
    width: 80%;
}

.socials {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.footer-contact img {
    width: 24px;
}

.creator-footer {
    position: absolute;
    background-color: var(--dark);
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.creator-footer p {
    color: var(--bg);
}
/* FOOTER SECTTION */

/* CART SECTTION */
.home-link {
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
}

.cart-item-grid {
    display: flex;
    flex-wrap: wrap;
    gap: calc(10px + 2vw);
    padding: 5vw;

}

.cart-item-container {
    background-color: var(--overlay);
    display: flex;
    padding: 20px;
    gap: 20px;
    border: 1px black solid;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.219);
}

.cart-image-container {
    background-color: white;
    width: 128px;
}

.cart-image-container img {
    width: 100%;
}

.cart-item-amount {
    display: flex;
}

.cart-amount-counter {
    width: 24px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
}
/* CART SECTTION */


/* SMART PHONES */
@media only screen and (max-width: 600px) {
    .header-searchbar {
        display: none;
    }

    .hero {
        padding-top: 15dvh;
        flex-direction: column;
        padding-bottom: 50px;
    }

    .features {
        flex-direction: column;
        gap: 50px;
    }

    .contact {
        flex-direction: column;
    }

    .footer-container {
        flex-direction: column;
        border: none;
        gap: 20px;
    }

    .footer-contact {
        align-items: center;
        margin-bottom: 30px;
    }
}

/* TABLETS */
@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .sellers-bg {
        margin-top: -20vh;
    }
}

/* DESKTOP */
@media (min-width: 1200px)  {
    .best-seller {
        margin-top: -200px;
    }
    .sellers-bg {
        margin-top: -70vh;
    }
}

